.game_details{
    background-color: #222222;
    border: solid 1px #1C1C1C; 
    border-radius: 15%;
    transition: border .1s ease-out;
    margin: 2% 1%;
}

.game_details:hover{
    border: solid 1px #22B782;
    background-color: #181818; 
}