.ui.menu{
    background-color: #1c1c1c;
    font-family: 'Teko', sans-serif;
}

.ui.menu :hover{
    color:#3c38f8;
}

.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover{
    color:#00ff94;
}

.ui.menu:not(.vertical) .item{
    color:#00ff94;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor:pointer;   
}

.ui.menu a.item:hover{
    color:#3c38f8;
}


@keyframes haveInvites{
    0%{
        font-size: 1.5em;
    }
    25%{
        font-size: 1.7em
    }75%{
        font-size: 1.5em
    }
}