.ui.menu{
    background-color: #1c1c1c;
    font-family: 'Teko', sans-serif;
}

.ui.menu :hover{
    color:#2185d0;
}

.ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover{
    color:#00FFA2;
}

.ui.menu:not(.vertical) .item{
    color:#00FFA2;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor:pointer;   
}

.ui.menu a.item:hover{
    color:#2185d0;
}

.ui.fluid.button{
    background-color:#22B782;
    color:white
}

.ui.fluid.button:hover{
    color:#22B782;
    background-color:white
}

.ui.action.input:not([class*="left action"])>.button:last-child{
    background-color:#22B782;
    color:white
}

.ui.action.input:not([class*="left action"])>.button:last-child:hover{
    color:#22B782;
    background-color:white;
    border-left:1px solid #22b782;
}


@keyframes haveInvites{
    0%{
        font-size: 1.5em;
    }
    25%{
        font-size: 1.7em
    }75%{
        font-size: 1.5em
    }
}