/*__________________ LOBBY LAYOUT___________________*/

.lobby-container{
    width: 100%;
    min-height: 600px;
    background-color:#1C1C1C;
    background-clip:content-box;
    position: relative;
}

.lobby-selection-box{
    height: 100%;
    position: absolute;
    padding: 0 0 0 3% !important;
    width: 100%;
}

.lobby-selection-columns > div{
    box-sizing : border-box;
    height: 100%;
    padding: 0 !important;
    background-color:#292929;
}
/*__________________ LOBBY LAYOUT END ___________________*/

/*__________________ LOBBY SELECTION LAYOUT ___________________*/
.loby-team-red{
    color:rgb(224, 52, 52);
}

.loby-team-blue{
    color:#1C8BFF;
}

.loby-team-box{
    overflow: hidden; 
    padding: 0 20px;
    text-align: center;
    height: 100%;
    position: relative;
}

.loby-header{
    height: 20%;   
    font-size: 3em;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
}
    .loby-header > div{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

.loby-player{
    height: 40%;
}
/*__________________ LOBBY SELECTION LAYOUT END ___________________*/


/*__________________ LOBBY SELECTION DETAILS LAYOUT ___________________*/
.loby-versus{
    height: 10%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) !important;
    font-weight: 700;
    color:rgb(0, 146, 93);
    font-size:4em;
    position: absolute;
}


/*__________________ LOBBY SELECTION DETAILS LAYOUT END ___________________*/

/*__________________ LOBBY INFO LAYOUT ___________________*/
.lobby-info-lock{
    height: 3%;
    position: relative;
}

.lobby-info-lock > i{
    position: absolute;
    right: 1%;
    top: 50%;
}

.lobby-info-title{
    height: 17%;
    position: relative;
    color:rgb(0, 146, 93);
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 3em;
    white-space: nowrap;
    text-transform: uppercase;
}

.lobby-info-title > h2{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) !important;
}

.lobby-info {
    height: 60%;
    padding: 0 20px;
    position: relative;
}

.lobby-begin-button-wrapper{
    height: 10%;
    position: relative;
    text-align: center;
}

.lobby-begin-button{
    background-color:rgb(0, 146, 93);
    color: #eee;
    white-space: nowrap;
    border-radius: 3px;
    padding:12px 40px;
    border: 2px solid #00FFA2;
    text-transform: uppercase;
    font-weight: 500;
    transition: width 0.3s, height 0.3s;
    transition-property: all;
    cursor: pointer;
    outline: none;
}

    .lobby-begin-button:hover:enabled{
        transform: scale(1.06);
        background-color:rgb(0, 141, 89);
    }

    .lobby-begin-button:disabled{
        background-color:rgba(28, 255, 160, 0.13);
        color: rgb(76, 141, 116);
        transition: none;
        cursor: default;
    }

.lobby-info-text{
    font-weight: 150;
    font-size: 2em;
    color:rgb(0, 141, 89);
}
/*__________________ LOBBY INFO LAYOUT ___________________*/