.player-box{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 4%;
    display: block;
}

.player_hover{
    /* box-shadow: 0 0 10px rgba(0,0,0,.3); */
    position: relative;
    height: 180px;
    width: 180px;
    margin: 0 auto;
    border: solid 1px #1C1C1C;
    border-radius: 3px;
    transition: border .1s ease-out;
    background-size: cover !important;
    background-position: 50%;
}

    .player_hover:hover {
        border-color: #22B782;
        background-color: rgb(49, 49, 49);
        opacity: 0.8;
    }

.player-number{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%) !important;

    font-size: 3.1em;
    color:#000;
}


.join-icon{
    width: 75px;
    height: 75px;  
    
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%) !important;

    cursor: pointer;
    transition: none 33ms cubic-bezier(.3,0,.7,1);
    transition-property: all;
}

    .join-icon:hover{
        width: 82px;
        height: 82px;
    }

.player-name{
    height: 40px;
}

.player-name > div{
    color:#eee;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.2em;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}