.player-box, .team-box{
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 4%;
    display: block;
}

.player_hover, .team_hover{
    /* box-shadow: 0 0 10px rgba(0,0,0,.3); */
    position: relative;
    height: 180px;
    width: 180px;
    margin: 0 auto;
    border: solid 1px #1C1C1C;
    border-radius: 50%;
    transition: border .1s ease-out;
    background-size: cover !important;
    background-position: 50%;
}

    .player_hover:hover, .team_hover:hover{
        border-color: #22B782;
        background-color: rgb(49, 49, 49);
        opacity: 0.8;
    }

.join-icon{
    width: 40%;
    height: 40%;  
    
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%) !important;

    cursor: pointer;
    transition: width 0.3s, height 0.3s;
    transition-property: all;
}

    .join-icon:hover{
        width: 55%;
        height: 55%;
    }

.cancel-icon{
    width: 15%;
    height: 15%;  
    
    position: absolute;
    top: 0;
    right:0;
    

    cursor: pointer;
    transition: width 0.3s, height 0.3s;
    transition-property: all;
}

    .cancel-icon:hover{
        width: 17%;
        height: 17%;
    }

.player-name,.team-name{
    height: 40px;
    color:#eee;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.2em;
}

.team-player-img{
    height: 80px;
    width: 80px;
    border: solid 1px #1C1C1C;
    border-radius: 50%;
    background-size: cover !important;
    background-position: 50%;
}

.team-player-name{
    height: 30px;
    color:#eee;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 1.1em;
}