.ui.labeled.input:not([class*="corner labeled"]) .label:first-child{
    font-family: 'Teko', sans-serif;
    background-color:#00ff94;
    font-size: 1.5em;
    color:black;
    width: 100px;
    text-align: center
}

.ui.center.aligned.header, .ui.centered.header{
    color:"blue";
}

.ui.big.button{
    background-color:white;
    color:black;
}