.ui.labeled.input:not([class*="corner labeled"]) .label:first-child{
    font-family: 'Teko', sans-serif;
    background-color:#00ff94;
    font-size: 1.5em;
    color:black;
    width: 100px;
    text-align: center
}

.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
    font-family: 'Teko', sans-serif;
    color:#00ff94;
    font-size: 3em;
}

.ui.labeled.input{
    width: 70%;
}

.ui.button{
    background-color:#00ff94;
    color: black;
    font-family: 'Teko', sans-serif;
    font-size:1.5em;
    margin-top:35px;
}

.ui.button:hover{
    color: black;
}